<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>¡Gracias por registrarte a <%= @event.name %>!</h1>
    <% if @event.registration_message -%>
      <p><%= @event.registration_message %></p>
    <% else -%>
      <p>Esperamos que disfrutes el evento.</p>
    <%end-%>
  </body>
</html>
