<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>Recuperación de contraseña para Cartelera de Innovación y 
          Emprendimiento</h1>
      <p>Esta contraseña es temporal y pedimos que la cambies al volver a 
         ingresar al sitio.</p>
      <p>Contraseña nueva temporal: <%= @password %></p>
  </body>
</html>
